@page "/"
@using MyApplication.Components.ReusableComponents.Orders

<PageTitle>OrderLines</PageTitle>

<div style="display: inline-flex; align-items: center; gap: 10px; margin-bottom: 25px;">
    <MudNumericField
        Clearable="true"
        T="int"
        Variant="Variant.Outlined"
        Label="Order Number"
    />
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Primary">
        Load Order
    </MudButton>
</div>

<MudButton Style="display: block;" Variant="Variant.Filled" Color="Color.Primary">Add Line</MudButton>
<MudPaper>
    <OrderDataGrid/>
</MudPaper>

